@font-face{
	font-family: 'Track';
	src: url('fonts/Track.otf');
	font-family: 'OpenSans';
	src: url('fonts/OpenSans-Light.otf');
}
#head{
	margin-left:100px;
	margin-right:100px;
	width:1000px;
	height:100px;
}
#searchbox{
	margin-left:50%;
	vertical-align:middle;
}