body{
background-color:#c0dfd4;
}
.header{
height : 100px;
}
.contents{

height:800px;

}

.footer{
background-color: black;
height:30px;

}
.page{
margin-left:100px;
margin-right:100px;
height:1000px;
background-color:white;

}
#title
{
	height:50px;
	
}

#item
{
	height:300px;
	
}

#box
{
	height:300px;
	
	float:left;
}
#bestSeller{
height :400px;

}

#recommendedItem{

height :500px;

}